@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;

}

form {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

input,
select {
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid lightgray;
}

form input[type="submit"] {
  background: blue;
  color: white;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

form input[type="submit"]:disabled {
  background: gray;
  cursor: not-allowed;
}