table.mat-table {
  width: 95%;
  display: table;
  margin: auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.ready {
  color: lightblue;
}

.retrieved {
  color: orange;
}

.info, .delete, .setToRetrieved {
  cursor: pointer;
}
.info {
  color: green;
}

.delete {
  color: red;
}