<table>
<tr>
  <th class="headerClick" (click)="sortTable(0)"><u>Location</u></th>
  <th class="headerClick" (click)="sortTable(1)"><u>Reporter</u></th>
  <th class="headerClick" (click)="sortTable(2)"><u>Reported Date & Time</u></th>
  <th class="headerClick" (click)="sortTable(3)"><u>Status</u></th>
  <th>Info</th>
  <th>Delete</th>
</tr>

<tr *ngFor="let report of reports">
  <td>{{report.location}}</td>
  <td>{{report.reporterName}}</td>
  <td>{{report.dateTime}}</td>
  <td>
    <span [ngClass]="report.status == 'Ready for pickup' ? 'ready' : 'retrieved'">{{report.status}} </span>
    <u *ngIf="report.status == 'Ready for pickup'" class="setToRetrieved" (click)="openSetRetrievedDialog(report.pigId)">Set Retrieved</u>
  </td>
  <td><u class="info" (click)="openInfoDialog(report.id)">Info</u></td>
  <td><u class="delete" (click)="openDeleteDialog(report.id)">Delete</u></td>
</tr>
</table>